<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit</h4>
  </div>
  <div class="modal-body">
    <form class="form">
      <div class="form-group">
        <label for="">FirstName</label>
        <div class="input-group mb-3">
          <input [(ngModel)]="currentUser.firstname" name="firstname" #firstName="ngModel" type="text" class="form-control">
        </div>
        <label for="">LastName</label>
        <div class="input-group mb-3">
          <input [(ngModel)]="currentUser.lastname" name="lastname" type="text" class="form-control">
        </div>
        <label for="">Email</label>
        <div class="input-group mb-3">
          <input [(ngModel)]="currentUser.email" name="email" type="text" class="form-control">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.close('Save click')">Cansel</button>
    <button type="button" class="btn btn-primary" (click)="updateUser(addUserData); modal.close('')">Add</button>
  </div>
</ng-template>

<button class="btn btn-info" (click)="open(content)">Edit</button>